<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконала Страшок Яна, КН-32
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Завдання 2
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>На заданому
        проміжку чисел [a,b]
        підрахуйте добуток
        чисел, кратних 7 і менших, ніж 30</p>
    </ion-card-content>
    <ion-item>
      <ion-label position = "floating">Перше число</ion-label>
      <ion-input type = "number" id = "a" value = "0" #Inputa></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Друге число</ion-label>
      <ion-input type = "number" id = "b" value = "0" #Inputb></ion-input>
    </ion-item>
    <ion-button expand = "block" (click)="ras(Inputa.value,Inputb.value)">Порахувати</ion-button>
    <ion-item>Результат {{d}}</ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
</ion-footer>
